In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from pathlib import Path
cur_dir = Path.cwd()
energy_path = str(cur_dir) + r"\Downloads\energydata_complete.csv"
energy_data = pd.read_csv(energy_path)

In [3]:
df = energy_data
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.shape

(19735, 29)

In [5]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [7]:
df_new=df.drop(['date','lights'],axis=1)
df_new.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [8]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
normalised_df_new= pd.DataFrame(scaler.fit_transform(df_new), columns=df_new.columns)

In [9]:
X=normalised_df_new.drop(['Appliances'], axis=1)
y=normalised_df_new['Appliances']

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

### Question 12

In [12]:
#for T2 and T6
train_t2 = x_train[['T2']]
train_t6 = x_train[['T6']]
test_t2 = x_test[['T2']]
test_t6 = x_test[['T6']]

In [18]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
linear_model.fit(train_t2,train_t6)
predicted_value = linear_model.predict(test_t2)

In [19]:
from sklearn.metrics import r2_score

In [20]:
#R^2 value
r2_value = round(r2_score(test_t6,predicted_value),2)
r2_value

0.64

### Question 13

In [22]:
#MAE
from sklearn.metrics import mean_absolute_error

linear_model
linear_model.fit(x_train,y_train)
predicted_val=linear_model.predict(x_test)

mae = round(mean_absolute_error(y_test,predicted_val),2)
mae

0.05

### Question 14

In [23]:
#RSS
rss = np.sum(np.square(y_test - predicted_val))
round(rss, 2)

45.35

### Question 15

In [24]:
#RMSE
from sklearn.metrics import mean_squared_error
rsme = np.sqrt(mean_squared_error(y_test, predicted_val))
round(rsme,3)

0.088

### Question 16

In [25]:
#R2 score
r2_score =r2_score(y_test, predicted_val)
round(r2_score,2)

0.15

### Question 17

In [28]:
def get_weights_df(linear_model, feat, col_name):
  #this function returns the weight of every feature
  weights = pd.Series(linear_model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

# Execute the get_weight function and store in dataframe
linear_weights_df = get_weights_df(linear_model, x_train, 'Linear_weight')

linear_weights_df

       Features  Linear_weight
0          RH_2      -0.456698
1         T_out      -0.321860
2            T2      -0.236178
3            T9      -0.189941
4          RH_8      -0.157595
5        RH_out      -0.077671
6          RH_7      -0.044614
7          RH_9      -0.039800
8            T5      -0.015657
9            T1      -0.003281
10          rv1       0.000770
11          rv2       0.000770
12  Press_mm_hg       0.006839
13           T7       0.010319
14   Visibility       0.012307
15         RH_5       0.016006
16         RH_4       0.026386
17           T4       0.028981
18    Windspeed       0.029183
19         RH_6       0.038049
20         RH_3       0.096048
21           T8       0.101995
22    Tdewpoint       0.117758
23           T6       0.236425
24           T3       0.290627
25         RH_1       0.553547

### Question 18

In [31]:
#ridge regression
from sklearn.linear_model import Ridge
ridge_Reg = Ridge(alpha=0.04)
ridge_Reg.fit(x_train, y_train)
ridge_pred = ridge_Reg.predict(x_test)
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
round(ridge_rmse, 3)

0.088

### Question 19

In [35]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.001)
lasso.fit(x_train,y_train)
lasso_predicted_values= lasso.predict(x_test)

lasso_getweight_df =get_weights_df(lasso,x_train,'Lasso_weight')
non_zero_weight= lasso_getweight_df[lasso_getweight_df['Lasso_weight']!=0]

non_zero_weight

     Features  Lasso_weight
0      RH_out     -0.049557
1        RH_8     -0.000110
24  Windspeed      0.002912
25       RH_1      0.017880

### Question 20

In [36]:
#rsme with lasso
rsme_lasso =round(np.sqrt(mean_squared_error(y_test, lasso_predicted_values)), 3)
rsme_lasso

0.094